.landing {
  height: 800px;
}

.overview {
  // background-image:url('../../assets/images/try4.jpg');
  opacity: 75%;
  text-align: center;
  background-size: cover;
}

#image {
  position: absolute;
  height: 60%;
  width: 100%;
}

.overview .container {
  position: relative;
  top:100px;
}

.overview h1 {
  color: #fff;
  font-size: 48px;
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.overview p {
  font-size: 20px;
  color: #fff;
}



// Navigation

.navigation {
  text-align: center;
  top: 40px;
  position: relative;
  background: transparent;
  font-family: 'Oswald', sans-serif;
  padding: 10px;
  border-style: solid;
  width: 800px;
  border-width: 1px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1{
  color: black;
  font-weight:100;
}

.btn{
  color:grey;
  background:transparent;
  padding:10px 20px;
  font-size:20px;
  font-weight: bold;
  border-style: solid;
  border-width: 1px;
  text-decoration:none;
  letter-spacing:2px;
  text-transform:uppercase;
}

.btn:hover{
  border:none;
  background:rgba(0, 0, 0, 0.4);
  // padding:20px 20px;
  color:#1b1b1b;
}

.footer{
  font-size:8px;
  clear:both;
  display:contents;
  letter-spacing:5px;
  border:1px solid #fff;
  text-decoration:none;
}

.label_date {
color: black;
}

.example-form-field {
  margin-right: 20px;
}


.search_btn{
  color:rgb(228,28,88);
  background:transparent;
  padding:10px 20px;
  font-size:20px;
  font-weight: bold;
  border-style: solid;
  border-width: 1px;
  text-decoration:none;
  letter-spacing:2px;
  text-transform:uppercase;
}


