<div class="test">
<!-- Navigation -->
<div class="landing">
  <div>
    <div>
      <img id="image" src="../../assets/images/try6.jpg" >
      <div class="overview">
        <div class="container">
        </div>
      </div>
  </div>
  <div class="navigation">
    <link href='https://fonts.googleapis.com/css?family=Oswald:300' rel='stylesheet' type='text/css'>
    <input class="btn" placeholder="Wo willst du parken?">
    <a>
      <mat-form-field class="datepicker date-inputsection" appearance="fill">
        <mat-label class="label_date">Datum</mat-label>
        <mat-date-range-input class="date"[formGroup]="range" [rangePicker]="picker">
          <input matStartDate class="date-input" formControlName="start" placeholder="Zeitraum">
          <input matEndDate formControlName="end" class="date-input">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>

        <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
        <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
      </mat-form-field>

    </a>
    <a href="#" class="search_btn" routerLink="/results">Suchen</a>

    <a href="https://twitter.com/freshcontrast" target="_blank" class="footer"></a>
  </div>
</div>

<div class="container">
  <div class="verlauf">
    <div class="location">Mannheim<br><span id="umgebung">(Umkreis DHBW)</span></div>
    <p class="park_situation">Freie Parkplätze: <span class="freie_plaetze"><br>10</span></p>
  </div>
  <div class="verlauf">
    <div class="location">Frankfurt <br><span id="umgebung">(Innenstadt)</span></div>
    <p class="park_situation">Freie Parkplätze: <span class="freie_plaetze"><br>10</span></p>
  </div>
  <div class="verlauf">
    <div class="location">Heppenheim <br><span id="umgebung">(Bahnhof)</span></div>
    <p class="park_situation">Freie Parkplätze: <span class="freie_plaetze"><br>10</span></p>
  </div>
  <div class="verlauf">
    <div class="location">Stuttgart <br><span id="umgebung">(Kinopolis)</span></div>
    <p class="park_situation">Freie Parkplätze: <span class="freie_plaetze"><br>10</span></p>
  </div>
</div>

</div>



