#login-text {
  color: rgb(53, 30, 30);
  text-align: center;
}

.full-height-grow-scrollable {
  margin-left: 10px;
  margin-top: 5px;
  text-align: center;
}

.input-group {
  margin-top: 10px;
}

.btn-type-1 {
  margin-top: 10px;
  width: 150px;
  height: 30px;
  margin-left: 70px;
  text-align: center;
}

#password {
  margin-left: 10px;
}


#email_txt {
  margin-left: 8px;
  font-weight: bold;
}

#password_txt {
  font-weight: bold;
}

#email {
  margin-left: 22px;
}

.login_card {
  background-color: gray;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 2px 16px;
}

.login_card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}







a {
  text-decoration: none;
}
body {
  background: rgb(228,28,88),rgb(228,28,88);
  background-repeat: no-repeat;
}
label {
  font-family: "Raleway", sans-serif;
  font-size: 11pt;
}
#forgot-pass {
  color: rgb(228,28,88);
  font-family: "Raleway", sans-serif;
  font-size: 10pt;
  margin-top: 3px;
  text-align: right;
}
#card {
  background: #fbfbfb;
  border-radius: 8px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
  height: 410px;
  margin: 6rem auto 8.1rem auto;
  width: 329px;
}
#card-content {
  padding: 12px 44px;
}
#card-title {
  font-family: "Raleway Thin", sans-serif;
  letter-spacing: 4px;
  padding-bottom: 23px;
  padding-top: 13px;
  text-align: center;
}
#signup {
  color: rgb(228,28,88);
  font-family: "Raleway", sans-serif;
  font-size: 10pt;
  margin-top: 16px;
  text-align: center;
}
#submit-btn {
  background: rgb(228,28,88);
  border: none;
  border-radius: 21px;
  box-shadow: 0px 1px 8px rgb(228,28,88);
  cursor: pointer;
  color: white;
  font-family: "Raleway SemiBold", sans-serif;
  height: 42.3px;
  margin: 0 auto;
  margin-top: 50px;
  transition: 0.25s;
  width: 153px;
}
#submit-btn:hover {
  box-shadow: 0px 1px 18px rgb(228,28,88);
}
.form {
  align-items: left;
  display: flex;
  flex-direction: column;
}
.form-border {
  background: rgb(228,28,88);
  height: 1px;
  width: 100%;
}
.form-content {
  background: #fbfbfb;
  border: none;
  outline: none;
  padding-top: 14px;
}
.underline-title {
  background: rgb(228,28,88);
  height: 2px;
  margin: -1.1rem auto 0 auto;
  width: 89px;
}


