
<div id="card">

  <div id="card-content">
    <div id="card-title">
      <h2>Registrieren</h2>
      <div class="underline-title"></div>
    </div>
    <form method="post" class="form">


      <label for="user-email" style="padding-top:13px">
          &nbsp;Username
        </label>
        <input id="user-email" class="form-content" autocomplete="on" type="email"  name="email"/>
       <div class="form-border"></div>


      <label for="user-email" style="padding-top:13px">
          &nbsp;Email
        </label>
        <input id="user-email" class="form-content" autocomplete="on" type="email"  name="email"/>


      <div class="form-border"></div>
      <label for="user-password" style="padding-top:22px">&nbsp;Password
        </label>
      <input id="user-password" class="form-content" type="password" name="password"/>
      <!-- <input id="user-password" class="form-content" type="password" name="password" required /> -->
      <div class="form-border"></div>

      <button mat-raised-button color="primary" type="submit" class="btn-type-1" id="submit-btn" >Registrieren</button>
      <a href="#" id="signup">Bereits einen Account ?</a>
    </form>
  </div>
</div>
